#container {
    height: 350px;
    text-align: center;
    justify-content: center;
    background-color: #012940;
    width: 100%;
}

#container h2 {
    text-align: center;
    margin: 32px auto;
    width: 100%;
}

#description {
    margin: 48px auto;
}

#description h1 {
    text-align: left;
    margin: 0 auto;
    max-width: 317px;
}

.frontEnd {
    width: 50%;
    float: left;
    text-align: center;
}

.backEnd {
    width: 50%;
    float: right;
}

#container p {
    margin: 12px auto;
    text-align: left;
    padding-left: 24px;
}