#container {
    height: 350px;
    text-align: center;
    justify-content: center;
    background-color: #012940;
    width: 100%;
}

#container h2 {
    text-align: center;
    margin: 24px auto;
    font-size: 1.6rem;
    font-weight: 500;
    
}

#description {
    margin: 48px auto;
}

#description h1 {
    text-align: left;
    margin: 0 auto;
    max-width: 317px;
    font-size: 2.5rem;
}

.frontEnd {
    width: 50%;
    float: left;
    text-align: center;
}

.backEnd {
    width: 50%;
    float: right;
}

#container p {
    margin: 12px auto;
    text-align: left;
    padding-left: 24px;
}

@media only screen and (max-width: 500px) {
    #container {
        width: 100%;
        margin: 0 5%;
        justify-content: center;
    }

    #container h1 {
        height: 48px;
        font-size: 1.75rem;
        text-align: left;
        padding-left: 32px;
    }
}