.projects {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 350px;
    max-height: 2000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#image {
    max-width: 480px;
}

#project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 24px auto;
}

#project button {
    background-color: #5b83a6;
}

#project h1, #project h2, #project p {
    color: #012940;
    text-align: left;
    height: 48px;
    margin-top: 6px;
}

.projects > h2 {
    color: #012940;
    justify-content: center;
    text-align: center;
    margin: 16px;
    font-weight: bold;
    font-size: 25px;
}

@media screen and (max-width: 500px) {
    #project {
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        align-items: center;
        margin: 24px auto;
    }
    
    #description-projects {
        max-width: 50%;
    }

    #project #image {
        width: 80%;
    }

    #description-projects {
        max-width: 100%;
    }

    #description-projects button {
        margin: 2px;
    }

    
}




