.footer {
    height: 60px;
    background-color: #012940;
    width: 100%;
    align-items: center;
    text-align: center;
    bottom: 60px;
    display: block;

}

.footer p {
    display: flex;
    align-items: center;
    margin: 0 24px;
    height: 100%;
    color: white;
    justify-content: center;
}