header {
  position: fixed;
  top: 0;
  left: 10%;
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
}
  
li {
  padding: 12px;
}