h1 {
  margin: 6px 13px 12px 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.32px;
  color: #ffffff;
  text-align: left;
  display: block;
}

h2 {
  margin: 6px 12px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: -0.32px;
  color: #ffffff;
  text-align: left;
  display: block;
}


button {
  height: 30px;
  margin: 16px 12px 12px 1px;
  padding: 5px 30px 7px 31px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #012940;
  border: none;
  color: white;
}

.social {
  margin-top: 12px;
}


.avatar {
  width: 250px; /* width of container */
  height: 250px; /* height of container */
  object-fit: cover;
  border-radius: 50%;
  transform: rotate(-13deg);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  h2, p {
    width: 80%; 
  }

}